body { 
    background:black;
    color: pink;
    font-family: "merriweather", serif;
}   

header{
    text-align: center;
    font-size: 50px;
    border-bottom: solid 2px pink;
    margin-left: 80;
     margin-right: 80;
}
 
section{
    display: flex;
    background-color: black;
    padding-bottom: 80px;
    padding-top: 70px;
    margin-top: 20px;
    justify-content: center;
}

.chamada-texto{
margin-right: 5%;


}